* {
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: "NES";
    src: url(../fonts/pixel-nes.ttf);
}

@font-face {
    font-family: "klarissa";
    src: url(../fonts/klarissa-regular.ttf);
}

/* styling */
a {
    color: unset;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: none;
    background-color:midnightblue;
}

#webtitle {
    font-family: "NES";
    color:khaki;
}

nav {
    padding-left: 30px;
    color: white;
    font-family: "NES";
    font-size: large;
}

nav dl dt {
    display: inline;
}

nav dl dt a:link {
    color: white;
}

nav dl dt a:active {
    color: yellow;
}

#content {
    text-align: center;
    margin: 40px;
}

.subheading {
    font-family: "NES";
    color: rgb(25, 25, 25);
}

.section {
    padding-top: 5px;
    padding-bottom: 50px;
    font-family:'Courier New', Courier, monospace;
}
