* {
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: "NES";
    src: url(../fonts/pixel-nes.ttf);
}

@font-face {
    font-family: "klarissa";
    src: url(../fonts/klarissa-regular.ttf);
}

/* styling */
a {
    color: unset;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

body {
    background-color:rgb(235, 235, 200);
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: none;
    background-color:midnightblue;
}

#webtitle {
    font-family: "NES";
    color:khaki;
}

nav {
    padding-left: 30px;
    color: white;
    font-family: "NES";
    font-size: large;
}

nav dl dt {
    display: inline;
}

nav dl dt a:link {
    color: white;
}

nav dl dt a:active {
    color: yellow;
}

#content {
    padding-top: 40px;
    padding-bottom: 800px;      /* so that the jump links don't fail because we have reached the end of the page */
    margin: auto;
    width: 60%;
    min-width: 300px;
    max-width: 800px;
    text-align: left;
}

.subheading {
    text-align: center;
    font-family: "NES";
    color: rgb(25, 25, 25);
}

.section {
    padding-top: 5px;
    padding-bottom: 50px;
    font-family:'Courier New', Courier, monospace;
}

#profile {
    overflow: hidden;       /* to ensure image doesn't spill over to disturb next section */
}

.pfp {
    float: right;
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 150px;
    padding-left: 20px;
    padding-bottom: 5px;
    object-fit: contain;
}

#posters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 10px;
    width: 100%;
}

.favs {
    margin-top: 15px;
    max-height: 150px;
    border-width: 5px;
    border-style: inset;
    border-color: white;
}

/* Mobile support */
@media (max-width: 559px) {
    html {
        scroll-padding-top: 160px;
    }

    header {
        flex-direction: column;
    }

    #webtitle {
        align-self: flex-start;     /* positions the object on the left even if flex-direction changes */
    }

    nav {
        align-self: flex-start;
        padding-top: 5px;
        padding-left: 0;
    }

    #content {
        padding-left: 40px;
        padding-right: 40px;
        width: 90%;
    }

    #intro {
        display: flex;
        flex-direction: column;
    }

    .pfp {
        align-self: center;
        max-width: 120px;
        max-height: 120px;
        margin: 0;
        margin-bottom: 15px;
    }
}